.videoPicker {
    list-style-type: none;
    margin: 100px auto;
    border-radius: 5px 5px;
    padding: 0;
    text-align: center;
    display: table;
}
.emptyCaption {
    color: #ccc;
    font-size: 20px;
    margin-top: 60px;
}