.footer {
    margin-top: 100px;
    height: 200px;
}
.termsContainer {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.termsWrapper {
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
    top: 50%;
    right: 50%;
    transform: translateX(50%);
    bottom: 10%;
    position: absolute;
}
.termsAnchor {
    font-size: 14px;
    color: #7f7f7f;
}
.termsAnchor:hover {
    font-size: 14px;
    color: black;
    text-decoration: none;
}